{% extends 'main/base.html' %}
{% block content %}
		
				<div class="col-lg-9 col-sm-8" >
					<div class="row slider">	
					<!-- Swiper -->
						<div class="col-md-9" style="height:500px;">
						  <div class="swiper-container">
						    <div class="swiper-wrapper">
						    {% for video in feature %}
						      <div class="swiper-slide" style="background-image: url({{video.img_url}})"></div>
						    {% endfor %}
						    </div>
						    <!-- Add Pagination -->
						    <div class="swiper-pagination"></div>
						    <!-- Add Arrows -->
						    <div class="swiper-button-next"></div>
						    <div class="swiper-button-prev"></div>
						  </div>
						</div>
						<div class="col-md-3 hidden-sm greybg ad" style="background-image: url(https://tpc.googlesyndication.com/simgad/3180667891462563629)">
							
							
						</div>
					 </div>
					  <div class="row categories">
					 	<div class="col-md-12 ">
					 		<a href="/category/entertainment/"><h3 >Entertainment</h3></a>
					 		<hr>
					 	</div>
					 	{% for video in entertainment_videos %}
					 	<div class="col-md-3 col-sm-6">
					 		<div class="greybg videoplaceholder" style="background-image: url({{video.img_url}})">
							</div>
							<h2><a class="js-video modalButton" href="#" data-src="http://www.youtube.com/embed/{{video.video_id}}?rel=0&wmode=transparent&fs=0"  data-target="#myModal" data-toggle="modal" target="_blank">{{video.title}}</a></h2>
					 	</div>
					 	{% endfor %}
					 	

					 </div>
					 <div class="row categories">
					 	<div class="col-md-12 ">
					 		<h3 >Lifestyle</h3>
					 		<hr>
					 	</div>
					 	{% for video in lifestyle_videos %}
					 	<div class="col-md-3 col-sm-6">
					 		<div class="greybg videoplaceholder" style="background-image: url({{video.img_url}})">
							</div>
							<h2><a class="js-video modalButton" href="#"  data-src="http://www.youtube.com/embed/{{video.video_id}}?rel=0&wmode=transparent&fs=0"  data-target="#myModal" data-toggle="modal" target="_blank">{{video.title}}</a></h2>
					 	</div>
					 	{% endfor %}
					 	

					 </div>
					 <div class="row categories">
					 	<div class="col-md-12 ">
					 		<h3 >Politics</h3>
					 		<hr>
					 	</div>
					 	{% for video in politic_videos %}
					 	<div class="col-md-3 col-sm-6">
					 		<div class="greybg videoplaceholder" style="background-image: url({{video.img_url}})">
							</div>
							<h2><a class="js-video modalButton" href="#"  data-src="http://www.youtube.com/embed/{{video.video_id}}?rel=0&wmode=transparent&fs=0"  data-target="#myModal" data-toggle="modal" target="_blank">{{video.title}}</a></h2>
					 	</div>
					 	{% endfor %}
					 	

					 </div>
					  <div class="row categories">
					 	<div class="col-md-12 ">
					 		<h3 >Business & Sport</h3>
					 		<hr>
					 	</div>
					 	{% for video in politic_videos|slice:'0:1' %}
					 	<div class="col-md-3 col-sm-6">
					 		<div class="greybg videoplaceholder" style="background-image: url({{video.img_url}})">
							</div>
							<h2><a class="js-video modalButton" href="#"  data-src="http://www.youtube.com/embed/{{video.video_id}}?rel=0&wmode=transparent&fs=0"  data-target="#myModal" data-toggle="modal" target="_blank">{{video.title}}</a></h2>
					 	</div>
					 	{% endfor %}
					 	

					 </div>
					 
					 <div class="row categories">
					 	<div class="col-md-12 ">
					 		<h3 >Success Story</h3>
					 		<hr>
					 	</div>
					 	{% for video in politic_videos|slice:'0:1' %}
					 	<div class="col-md-3 col-sm-6">
					 		<div class="greybg videoplaceholder" style="background-image: url({{video.img_url}})">
							</div>
							<h2><a href="#"  class="js-video modalButton" data-src="http://www.youtube.com/embed/{{video.video_id}}?rel=0&wmode=transparent&fs=0"  data-target="#myModal" data-toggle="modal" target="_blank">{{video.title}}</a></h2>
					 	</div>
					 	{% endfor %}
					 	

					 </div>
					 

					
					
					 

				</div>

				

			</div>
		</div>

		
{% endblock %}